<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</style>
<title>Index</title>
<title>Projeto</title>
<div class="container">
  <img class ="huerotate" src="../static/public/placeholder.png" width="10%">
  <ul class="nav nav-tabs nav-justified">
    <li><a href="teste.html">Home</a></li>
    <li><a href="projetos.html">Projeto</a></li>
    <li  class="active"><a href="contato.html">Contatos</a></li>
  </ul>
  <br>


  </div>   
    </div>
  </div>   
</head>
<body>
      <div class="divA">
        <a href="contatos.html">
            <img class="huerotate" src="../static/public/copa.jpg" alt="copa" height="10%" width="50%">
          </a>
          <div class="center"><a href="https://www.youtube.com/watch?v=iwR7J60p4mk&ab_channel=AC%2FDC-Topic">clique aqui para ir até a musica ballbreaker do acdc </a></div>
          <div class="center"><a href="https://www.serebii.net">Clique aqui para ir até o site da serebii, site de pokemon</a></div>
          <br><br>
    </div>
    <div class="clear"></div>
</body>
</html>