<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</style>
<title>Projeto</title>
<div class="container">
  <img class ="huerotate" src="../static/public/placeholder.png" width="10%">
  <ul class="nav nav-tabs nav-justified">
    <li><a href="teste.html">Home</a></li>
    <li  class="active"><a href="projetos.html">Projeto</a></li>
    <li><a href="contato.html">Contatos</a></li>
  </ul>
  <br>
  
  </div>   
    </div>
  </div>   
</head>
<body>
    <p>
      <div class="divA">
            <img class="huerotate" src="../static/public/copa.jpg" alt="copa" height="10%" width="50%">
          </a>
      <div class="center"><a href="../templates/peixe/index.html"> site de peixe feito para uma aula do tecnico</a> </div>
      <br><br>
      <img class="img2" src="../static/public/tcc.png" >
     <br>
     <div class="center">Essa imagem foi feita para anunciar os tccs da etec</div>
     <div class="center"><a href="../static/public/tcc.png" class="btn btn-info" role="button" font-weight="bolder">ver imagem do tcc</a></div>
    <br><br>

      </p>
    </div>
    <div class="clear"></div>
</body>
</html>