<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</style>
<title>Index</title>
<title>Projeto</title>
<div class="container">
  <img class ="huerotate" src="../static/public/placeholder.png" width="10%">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="teste.html">Home</a></li>
    <li><a href="projetos.html">Projeto</a></li>
    <li><a href="contato.html">Contatos</a></li>
  </ul>
  <br>  
    </div>
  </div>   
</head>
<body>
      <div class="divA">
        <a href="contatos.html">
            <img class="huerotate" src="../static/public/copa.jpg" alt="copa" height="10%" width="50%">
          </a>
      <div class="center"> Murilo Henrique Sangi da Silva lima,
        18 anos de idade,
        formado tecnico em analise e desenvolvimento de sistemas,
        aniversario:06/11/2003,
        signo: escorpião. 
      </div>
    
      <div class="center"> O criador do site é formado como técnico em analise e desenvolvimento de sistemas, mas o que esse professional faz?
        Um tecnico em análise e desenvolvimento de sistemas encontra em seu dia a dia atividades como elaboração de manuais, 
        desenho e construção de sistemas computacionais, análise de dados e solução de problemas humanos diversos.
      </div>
      
    </div>
    <div class="clear"></div>
</body>
</html>